@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Nabla&family=Yarndings+20&display=swap');

body{
    background-image: url();
}

.centered{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Nabla', sans-serif;
    font-size: 10vw;
    margin: 10px;
}
.mini{
    font-size: 3vw;
    height: 30vh;
    font-family: 'Nabla', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}